/*Font from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*the content of the website*/
body {
    font-family: "Electrolize";
    margin: 0;
    background-color: #000;
    color: #fff;
}

/*navigational bar*/
.screen-menu {
    background-color: #4E2A84; /*bg colour of the nav bar*/
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-size: 3rem;
    transition: .3s ease;
    padding-left: 5%;
    z-index: 1;
}

.screen-menu li {
    list-style: none;
    color: #ffffff;
}

.screen-menu.active {
    right: 0;
}

nav {
    padding: 1rem;
    display: flex;
    z-index: 10;
}

.screen-menu a {
    text-decoration: none; /*remove the undeline*/
}

.menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}

.menu span {
    height: 5px; /*thickness of the menu bar*/
    width: 100%;
    background-color: #fbfbfb;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    /*positioning the humburger menu to the top right*/
    transform: translate(-50%,-1550%);
    transition: .3s ease;
    z-index: 1;
}

.menu.active span:nth-child(2) {
    opacity: 0;
}

.menu span:nth-child(1) { /*the top/first bar of hamburger menu*/
    top: 25%;
}

.menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%,-1550%) rotate(45deg);
}

.menu span:nth-child(3) { /*the last/bottom bar of hamburger menu*/
    top: 75%;
}

.menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%,-1550%) rotate(-45deg); 
}

/*the title*/
header {
    position: relative;
    height: auto;
    font-weight: bold;
    font-size: 53px;
    text-align: center;
    margin: auto;
    padding: 2px;
    animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 12px #6985c7, 0 0 14px #1a3b94, 0 0 16px #0a2366;
      }
      
      to {
        text-shadow: 0 0 14px #6985c7, 0 0 17px #1a3b94, 0 0 20px #0a2366 0 0 26px #040b30;
      }
}



/*the sider effect / carousel sider */
.caro{
    position: relative;
    height: 650px; /*height of the section*/
    overflow: hidden; /*hides the sideways scroll bar*/
    margin-top: -2px; /*the gap for the header to the section*/
}

/*the list in the carousel*/
.caro .list{
    position: absolute;
    width: 1140px;
    max-width: 90%;
    height: 70%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff; /*colour of the text */
}
.caro .list .item{
    position: absolute;
    left: 0%;
    width: 70%;
    height: 100%;
    font-size: 15px;
    transition: left 0.5s, opacity 0.5s, width 0.5s;
}
.caro .list .item:nth-child(n + 6){
    opacity: 0;
}
.caro .list .item:nth-child(2){
    z-index: 10;
    transform: translateX(0);
}
.caro .list .item img{
    width: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: right 1s;
}

.caro .list .item .intro{
    opacity: 0;
    pointer-events: none;
}

/*the 2nd information is the active one*/
.caro .list .item:nth-child(2) .intro{
    opacity: 1;
    pointer-events: auto;
    width: 400px;
    position: absolute;
    top: 50%;
    transform:  translateY(-50%);
    transition: opacity 0.5s;
}

/*designing the header of the item*/
.caro .list .item .intro .title{
    font-size: 2em;
    font-weight: 500;
    line-height: 1em;
}
.caro .list .item .intro .topic{
    font-size: 4em;
    font-weight: 500;
}

.seeMore{
    font-family:'Gill Sans';
    margin-top: 1.2em;
    padding: 5px 0;
    border: none;
    border-bottom: 1px solid #555; /*the line underneath the */
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 3px;
    transition: background 0.5s;
    color: white;
}
.caro .list .item .intro .seeMore:hover{
    color: #9d2ac7;
    text-shadow: rgb(40, 6, 65) 0 0 4px;

}

.caro .list .item:nth-child(1){
    transform: var(--i1-transform);
    filter: var(--i1-filter);
    z-index: var(--i1-zIndex);
    opacity: var(--i1-opacity);
    pointer-events: none;
}
.caro .list .item:nth-child(3){
    transform: var(--i3-transform);
    filter: var(--i3-filter);
    z-index: var(--i3-zIndex);
}
.caro .list .item:nth-child(4){
    transform: var(--i4-transform);
    filter: var(--i4-filter);
    z-index: var(--i4-zIndex);
}
.caro .list .item:nth-child(5){
    transform: var(--i5-transform);
    filter: var(--i5-filter);
    opacity: var(--i5-opacity);
    pointer-events: none;
}

:root{
    /*first item in the list*/
    --i1-transform: translateX(-100%) translateY(-5%) scale(1.5); /*positioning it on a certain coordinate*/
    --i1-filter: blur(30px); /*putting blur effect*/
    --i1-zIndex: 11; /*goes above the element */
    --i1-opacity: 0; /*the transparency */

    --i2-transform: translateX(0);
    --i2-filter: blur(0px);
    --i2-zIndex: 10;
    --i2-opacity: 1;

    --i3-transform: translate(50%,10%) scale(0.8);
    --i3-filter: blur(10px);
    --i3-zIndex: 9;
    --i3-opacity: 1;

    --i4-transform: translate(90%,20%) scale(0.5);
    --i4-filter: blur(30px);
    --i4-zIndex: 8;
    --i4-opacity: 1;
    
    --i5-transform: translate(120%,30%) scale(0.3);
    --i5-filter: blur(40px);
    --i5-zIndex: 7;
    --i5-opacity: 0;
}

/* animation text in item2 */
.caro .list .item:nth-child(2) .intro .title,
.caro .list .item:nth-child(2) .intro .topic,
.caro .list .item:nth-child(2) .intro .seeMore{
    opacity: 0;
    animation: showContent 0.5s 1s ease-in-out 1 forwards;
}
@keyframes showContent{
    from{
        transform: translateY(-30px);
        filter: blur(10px);
    }to{
        transform: translateY(0);
        opacity: 1;
        filter: blur(0px);
    }
}

/*animation delay per text */
.caro .list .item:nth-child(2) .intro .topic{
    animation-delay: 1.1s;
}
.caro .list .item:nth-child(2) .intro .seeMore{
    animation-delay: 1.3s;
}
/* to see the next category */
.caro .next .item:nth-child(1){
    animation: transformFromPosition2 0.5s ease-in-out 1 forwards;
}
@keyframes transformFromPosition2{
    from{
        transform: var(--i2-transform);
        filter: var(--i2-filter);
        opacity: var(--i2-opacity);
    }
}
.caro .next .item:nth-child(2){
    animation: transformFromPosition3 0.7s ease-in-out 1 forwards;
}
@keyframes transformFromPosition3{
    from{
        transform: var(--i3-transform);
        filter: var(--i3-filter);
        opacity: var(--i3-opacity);
    }
}
.caro .next .item:nth-child(3){
    animation: transformFromPosition4 0.9s ease-in-out 1 forwards;
}
@keyframes transformFromPosition4{
    from{
        transform: var(--i4-transform);
        filter: var(--i4-filter);
        opacity: var(--i4-opacity);
    }
}
.caro .next .item:nth-child(4){
    animation: transformFromPosition5 1.1s ease-in-out 1 forwards;
}
@keyframes transformFromPosition5{
    from{
        transform: var(--i5-transform);
        filter: var(--i5-filter);
        opacity: var(--i5-opacity);
    }
}
/* to see the previous category */
.caro .prev .list .item:nth-child(5){
    animation: transformFromPosition4 0.5s ease-in-out 1 forwards;
}

.caro .prev .list .item:nth-child(4){
    animation: transformFromPosition3 0.7s ease-in-out 1 forwards;
}
.caro .prev .list .item:nth-child(3){
    animation: transformFromPosition2 0.9s ease-in-out 1 forwards;
}
.caro .prev .list .item:nth-child(2){
    animation: transformFromPosition1 1.1s ease-in-out 1 forwards;
}
@keyframes transformFromPosition1{
    from{
        transform: var(--i1-transform);
        filter: var(--i1-filter);
        opacity: var(--i1-opacity);        
    }
}

/*positioning the arrow*/
.arrows{
    position: absolute;
    bottom: 7px;
    width: 1140px;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translate(-50%,-200%);
}

/*the arrows */
#prev, #next{
    /*shape of the buttom*/
    width: 40px;
    height: 40px;
    /*corner of the buttom*/
    border-radius: 50%;
    font-size: larger; /*size of the arrow*/
    /*the absolute position of the arrow*/
    bottom: 10%;
    left: 10%;
}

.caro::before{
    /*the size of the content*/
    width: 500px;
    height: 300px;
    content: '';
    /*the bg colour seen at the back of the images*/
    background-image: linear-gradient(70deg, #DC422A, blue);
    position: absolute;
    z-index: -1;
    border-radius: 20% 30% 80% 10%;
    filter: blur(150px); /*blurs out the colour*/
    top: 50%;
    left: 50%;
    /*positioning the gradient*/
    transform: translate(-10%, -50%);
    transition: 1s;
}

@media screen and (max-width: 767px){
    /* mobile */
    .caro{
        height: 600px;
    }
    .caro .list .item{
        width: 100%;
        font-size: 10px;
    }
    
    .caro .list{
        height: 100%;
    }
    .caro .list .item:nth-child(2) .introduce{
        width: 50%;
    }
    
    .caro .list .item img{
        width: 40%;
    }
}

/**********************************/
/*search bar*/
.wrapper {
    width: 80%;
    align-items: center;
    margin-left:15%; 
  }
  
  #search-container {
    margin: 1em 0;
  }
  #search-container input {
    background-color: transparent;
    width: 80%;
    border-bottom: 2px solid #110f29;
    padding: 1em 0.3em;
  }
 
  /*customizing the button of the search bar*/
  #search-container button {
    padding: 1em 2em;
    margin-left: 1em;
    background-color: #4E2A84;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 0.5em;
  }

/**********************************/
/*shopping gallery*/

h1 {
    text-align: left;
    margin-top:5% ;
    margin-left: 4%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    color: white;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery .item {
    border:1px solid rgb(147, 189, 210,0.3);
    border-radius: 5px;
    padding: 10px;
    width: 320px;
}

.item img {
    margin-top: 6%;
    width: 90%;
    border-radius: 5px;
}

.info {
    margin-top: 5%;
    text-align: center;
}

.info p {
    background: #4E2A84;
    width: 50%;
    margin-left: 25% ;
}

.info p:hover {
    outline: white 1px solid;
    color: #4E2A84;
    font-weight: bold;
    background: white;
    cursor: pointer;
}

.gallery .item button {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}



/***************************/
/*video gallery*/
.advert {
    display: flex; /*displays the video horizontally*/
    align-items: center;
    background-color: #51296170;
}

.vid-wrap {
    position:relative;
    min-height: 480px;
    min-width: 800px;
    margin:auto;
    border-radius: 10px;
}

.vid-wrap video {
    position: absolute;
    top: 0;
    bottom: 0;
    object-fit: fill;
    max-width: 90%;
    max-height: 90%;
    margin-bottom: -5px;
    margin-top: 4%;
    border-radius: 10px;
}

/*******************/
/*footer of the website*/
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.footer{
	max-width: 1170px;
	margin-left:20%;
    padding: 70px 0;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.col{
   width: 25%;
   padding: 0 15px;
}
.col h4{
	font-size: 18px; /*size of the font*/
	color: #ffffff;
	text-transform: capitalize; /*automatically caps the first letter*/
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #4E2A84;
	height: 2px;
	box-sizing: border-box;
	width: 50px; /*the line under the h4*/
}
.col ul li:not(:last-child){
	margin-bottom: 10px;
}
.col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
    background-color: #4E2A84;
}
.col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.col .social-links a:hover{
	color: #ffffff;
	background-color: #4E2A84;
}

.bot{
    padding: 20px;
    text-align: center;
}
.bot p{
    color: white;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}