/*Font from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    color: #ffffff;
    background-color: #000000;
    font-family: 'Electrolize';
}

/*navigational bar*/
.screen-menu {
    background-color: #4E2A84;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
    z-index: 1;
}

.screen-menu li {
    list-style: none;
    color: #ffffff;
}

.screen-menu.active {
    right: 0;
}

nav {
    padding: 1rem;
    display: flex;
    z-index: 10;
}

.screen-menu a {
    text-decoration: none; /*remove the undeline*/
}

.menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}

.menu span {
    height: 5px; /*thickness of the menu bar*/
    width: 100%;
    background-color: #fbfbfb;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    /*positioning the humburger menu to the top right*/
    transform: translate(-50%,-1550%);
    transition: .3s ease;
    z-index: 1;
}

.menu.active span:nth-child(2) {
    opacity: 0;
}

.menu span:nth-child(1) { /*the top/first bar of hamburger menu*/
    top: 25%;
}

.menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%,-1550%) rotate(45deg);
}

.menu span:nth-child(3) { /*the last/bottom bar of hamburger menu*/
    top: 75%;
}

.menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%,-1550%) rotate(-45deg); 
}

/*the title*/
header {
    position: relative;
    height: auto;
    font-weight: bold;
    font-size: 53px; /*size of the text*/
    text-align: center; /*alignment of the text*/
    margin: auto;
    padding: 2px;
    /*adding animation on the header*/
    animation: glow 1.5s ease-in-out infinite alternate;
}

header a {
    color: white; /*colour of the text*/
    text-decoration: none; /*removes the underline*/
}

@keyframes glow {
    from {
        text-shadow: 0 0 12px #6985c7, 0 0 14px #1a3b94, 0 0 16px #0a2366;
      }
      
      to {
        text-shadow: 0 0 14px #6985c7, 0 0 17px #1a3b94, 0 0 20px #0a2366 0 0 26px #040b30;
      }
}

*{
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    width: 100%;
}
.form{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form::before {
     /*the size of the content*/
     width: 500px;
     height: 300px;
     content: '';
     /*the bg colour seen at the back of the images*/
     background-image: linear-gradient(70deg, #DC422A, blue);
     position: absolute;
     z-index: -1;
     border-radius: 20% 30% 80% 10%;
     filter: blur(150px); /*blurs out the colour*/
     top: 50%;
     left: 50%;
     /*positioning the gradient*/
     transform: translate(-10%, -50%);
}

h2{
    font-size: 2em;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #ffffff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;

    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px ;
    font-size: .9em;

    display: flex;
    justify-content: space-between;  
}

.forget label input{
    margin-right: 3px;
    
}
.forget label a{
    text-decoration: none;
    color: white;
}
.forget label a:hover{
    text-decoration: underline;
}

.value button{ /*customizing the button*/
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #4E2A84;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    color: white;
}

/*for the register text*/
.register{
    font-size: .9em; /*font size*/
    text-align: center;
    margin: 25px 0 10px;
}

.register a{
    text-decoration: none;
    font-weight: bold;
    color: white; /*text ccolour*/
}
.register a:hover{ /*when hovering on the register*/
    text-decoration: underline; /*there will be underline*/
}

/*for the skip text*/
.skip{
    font-size: .9em;
    text-align: center;
    margin: 5px 0 5px;
}

.skip a{
    text-decoration: none;
    font-weight: 100; /*boldness level*/
    color: white; /*text ccolour*/
}
.skip a:hover{ /*when hovering on the register*/
    text-decoration: underline; /*there will be underline*/
    color: white;
}