/*Font from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body{
    margin: 0;
    font-family: "Electrolize";
    background-color: #000000;
    color: white;
}

/*the title*/
header {
    position: relative;
    height: auto;
    font-weight: bold;
    font-size: 53px;
    text-align: center;
    margin: auto;
    padding: 2px;
    animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 12px #6985c7, 0 0 14px #1a3b94, 0 0 16px #0a2366;
      }
      
      to {
        text-shadow: 0 0 14px #6985c7, 0 0 17px #1a3b94, 0 0 20px #0a2366 0 0 26px #040b30;
      }
}

/*navigational bar*/
.screen-menu {
    background-color: #4E2A84   ;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
    z-index: 1;
}

.screen-menu li {
    list-style: none;
    color: #ffffff;
}

.screen-menu.active {
    right: 0;
}

nav {
    padding: 1rem;
    display: flex;
    z-index: 10;
}

.screen-menu a {
    text-decoration: none; /*remove the undeline*/
}

.menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}

.menu span {
    height: 5px; /*thickness of the menu bar*/
    width: 100%;
    background-color: #fbfbfb;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    /*positioning the humburger menu to the top right*/
    transform: translate(-50%,-1550%);
    transition: .3s ease;
    z-index: 1;
}

.menu.active span:nth-child(2) {
    opacity: 0;
}

.menu span:nth-child(1) { /*the top/first bar of hamburger menu*/
    top: 25%;
}

.menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%,-1550%) rotate(45deg);
}

.menu span:nth-child(3) { /*the last/bottom bar of hamburger menu*/
    top: 75%;
}

.menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%,-1550%) rotate(-45deg); 
}

/*************?
/*detail part*/
a{
    color: unset;
    text-decoration: none;
}
.container{
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
}
.title{
    font-size: xx-large;
    padding: 20px 0;
}
.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
/* detail page */
img{
    width: 100%;
    display: block;
}

.detail::before {
    width: 500px;
    height: 300px;
    content: '';
    /*the bg colour seen at the back of the images*/
    background-image: linear-gradient(70deg, #DC422A, blue);
    position:relative;
    border-radius: 20% 30% 80% 10%;
    filter: blur(150px); /*blurs out the colour*/
    top: 50%;
    left: 50%;
}

.detail{
    transform: translate(-10%); /*positioning the  detail information*/
    min-height: 70vh; /*maximum height for the detail*/
    display: flex;
    /*aligns the items and text on the center*/
    align-items: center;
    justify-content: center;
}

.contain{
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;
}
.product{
    background-color: #000000;
    margin: 1rem 0;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 3px;
    column-gap: 10px;
    z-index: 2;
}
.left{
    padding: 20px;
}
.right{
    padding: 20px;
}
.imgs img{
    width: 200px;
    margin: 0 auto;
}

.hover{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.hover div{
    border: 2px solid rgba(252, 160, 175, 0.7);
    padding: 1rem;
    border-radius: 3px;
    margin: 0 4px 8px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.active{
    border-color: rgb(255, 145, 163)!important;
}

/*hovering on images*/
.hover div:hover{
    border-color: rgb(255, 145, 163);
}

/*the images*/
.hover div img{
    width: 50px;
    cursor: pointer;
}

/*for the images of the product on the right side*/
.right span{
    display: block;
}

/*name of the product */
.name{
    font-size: 26px;
    margin-bottom: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
}

/*for the price of the item*/
.price{
    font-weight: 700;
    font-size: 24px;
    opacity: 0.9;
    font-weight: 500;
}

/*for the rating of the item*/
.rate{
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.rate span{
    margin-right: 6px;
}

/*for the product description*/
.des{
    font-weight: 18px;
    line-height: 1.6;
    font-weight: 300;
    opacity: 0.9;
    margin-top: 22px;
}

/*for the button*/
.btn{
    margin-top: 22px;
}
.btn button{
    display: inline-block;
    font-size: 16px;
    font-family: inherit;
    text-transform: uppercase;
    padding: 15px 16px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn button .fas{
    margin-right: 8px;
}
.add-cart{
    background-color: #FF9F00;
    border: 2px solid #FF9F00;
    margin-right: 8px;
}
.add-cart:hover{
    background-color: #fff;
    color: #FF9F00;
}
.buy-now{
    background-color: #000000;
    border: 2px solid #000;
}
.buy-now:hover{
    background-color: #fff;
    color: #000000;
}

/* // ipad */
@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
    .detail{
        grid-template-columns:  40% 1fr;
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
    .detail{
        text-align: center;
        grid-template-columns: 1fr;
    }
    .detail .image img{
        width: unset;
        height: 40vh;
    } 
    .detail .name{
        font-size: x-large;
        margin: 0;

    }
    .detail .buttons button{
        font-size: small;
    }
    .detail .buttons{
        justify-content: center;
    }
}