/*Font from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* { 
    box-sizing:border-box;
}

body {
  color: #ffffff;
  background-color: rgb(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  font-family: "Electrolize";
}

/*the title*/
header {
  position: relative;
  height: auto;
  font-weight: bold;
  font-size: 53px;
  text-align: center;
  margin: auto;
  padding: 2px;
  background-color: black;
  animation: glow 2s ease-in-out infinite alternate;
}

header a {
text-decoration: none;
color: white;
cursor: pointer;
}

@keyframes glow {
  from {
      text-shadow: 0 0 12px #6985c7, 0 0 14px #1a3b94, 0 0 16px #0a2366;
    }
    
    to {
      text-shadow: 0 0 12px #6985c7, 0 0 15px #1a3b94, 0 0 18px #0a2366 0 0 24px #040b30;
    }
}

@media screen and (max-width: 991px){
/* ipad, tablets */

}

@media screen and (max-width: 767px){
/* mobile */

}

/*navigational bar*/
.screen-menu {
  background-color: #4E2A84; /*bg colour of the nav bar*/
  height: 100vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-size: 3rem;
  transition: .3s ease;
  padding-left: 5%;
  z-index: 1;
}

.screen-menu li {
list-style: none;
color: #ffffff;
}

.screen-menu.active {
right: 0;
}

nav {
padding: 1rem;
display: flex;
}

.menu {
height: 50px;
width: 50px;
margin-left: auto;
position: relative;
}

.menu span {
height: 5px; /*thickness of the menu bar*/
width: 100%;
background-color: #fbfbfb;
border-radius: 25px;
position: absolute;
top: 50%;
left: 50%;
/*positioning the humburger menu to the top right*/
transform: translate(-50%,-1550%);
transition: .3s ease;
z-index: 1;
}

.menu.active span:nth-child(2) {
opacity: 0;
}

.menu span:nth-child(1) { /*the top/first bar of hamburger menu*/
top: 25%;
}

.menu.active span:nth-child(1) {
top: 50%;
transform: translate(-50%,-1550%) rotate(45deg);
}

.menu span:nth-child(3) { /*the last/bottom bar of hamburger menu*/
top: 75%;
}

.menu.active span:nth-child(3) {
top: 50%;
transform: translate(-50%,-1550%) rotate(-45deg); 
}

.wrap::before{
  /*the size of the content*/
  width: 500px;
  height: 300px;
  content: '';
  /*the bg colour seen at the back of the images*/
  background-image: linear-gradient(70deg, #DC422A, blue);
  position: absolute;
  z-index: -1;
  border-radius: 20% 30% 80% 10%;
  filter: blur(150px); /*blurs out the colour*/
  top: 50%;
  left: 50%;
  /*positioning the gradient*/
  transform: translate(-10%, -50%);
}

 img {
   max-width:100%;
 }
.cf:before,.cf:after {
    content: " ";display: table;
}

.cf:after {
    clear: both;
}
.cf {
    zoom: 1;
}

.wrap {
  width: 75%;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 5em;
  padding-bottom:16%;
  
}

/***/
/*the chart*/
/* my chart heading */
.heading {
  padding: 1em 0;
  border-bottom: 1px solid #D0D0D0;
 
  h1 {
   font-size: 2em;
   float: left;
  }

  a.continue {
    &:link , &:visited {
      text-decoration: none;
      letter-spacing: -.015em;
      font-size: 1em;
      padding: 1em;
      font-weight: bold;
      border-radius: 50px;
      float: right;
      color: white;
      text-align: right;
    }

    &:after {
      content: "\276f";
      padding: .5em;
      position: relative;
      right:0;
      
    }
    &:hover , &:focus {
      color: rgb(255, 255, 255);
      
      &:after {
        right: -10px;
      }
    }
  }
}

/* the items on the chart*/

.cart {
  padding: 1em 0 ;
 
  .items {
    display: block;
    width: 100%;
    padding: 1.5em;

    border-bottom: 1px solid #fafafa;
    &.even {
      background: #a88ae400;
    }
    .infoWrap {
      display: table;
      width: 100%;
    }
    .cartSection {
      display: table-cell;
      vertical-align: middle;
      
    .itemNumber {
      font-size: .75em;
      color: #777;
      margin-bottom: .5em;
}
      
h3 {   
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .025em;        
}

p {
    display: inline-block;
    font-size: .85em;
    color: #ffffff;
        .quantity {
            font-weight: bold;
            color: #333;
        }
        
        &.stockStatus {
            color: #82CA9C;
            font-weight: bold;
            padding: .5em 0 0 1em;
            text-transform: uppercase;
            &.out {
                color: #F69679;
            }
        }
}

.itemImg {
    width: 4em; 
    float: left;      
}

&.qtyWrap , &.prodTotal {
    text-align: center;
    p {
      font-weight: bold;
      font-size: 1.25em;
    }
}
      
    input.qty {
        width: 2em;
        text-align: center;
        font-size: 1em;
          padding: .25em;
      margin: 1em .5em 0 0;
        
      }
      .itemImg {
        width: 8em;
        display: inline;
        padding-right: 1em;
      }
       
 
    }
  }
  
}   
 
 .special {
   display: block;
  .specialContent {
   padding: 1em 1em 0;
    display: block; 
   margin-top:.5em;
   border-top: 1px solid #dadada;
   &:before {
     content: "\21b3";
     font-size: 1.5em;
      margin-right: 1em;
     color: #6f6f6f;
     font-family: helvetica, arial, sans-serif;
   }}
 
 }

a.remove {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  background: #9d199b;
  padding: .5em;
  font-size: .75em;
  display: inline-block;
  border-radius: 100%;
  line-height: .85;
  &:hover {
    background-color: rgba(253, 253, 253, 0);
    color: #4E2A84;
  }
}

.Code {
  border:2px solid #efefef;
  float: left;
  width: 35%;
  padding: 2%;
  label {
    display: block;
    width: 100%;
 font-style: italic;
    font-size: 1.15em;
 
    margin-bottom: .5em;
    letter-spacing: -.025em;
    
  }
  input {
    width: 85%;
    font-size: 1em;
    padding: .5em;
    float: left;
    border: 1px solid #dadada;
    &:active, &:focus {
      outline: 0;
     
    }
  }
  a.btn {
    float: left;
    width: 15%;
    padding: .75em 0;
    border-radius: 0 1em 1em 0;
    text-align: center;
    border: 1px solid #82ca9c;
    &:hover {
       border: 1px solid #f69679;
       background: #4E2A84;
    }
  }
}

.btn {
     &:link , &:visited {
      text-decoration: none;
      letter-spacing: -.015em;
      font-size: 1em;
      padding: 1em 3em;
      color: #000000;
      background: #ffffff;
      font-weight: bold;
      border-radius: 50px;
    float: right;
      text-align: right;
    }
      &:after {
      content: "\276f";
      padding: .5em;
      position: relative;
      right:0;
      
    }
    &:hover , &:focus, &:active {
      background: #4E2A84;
        &:after {
        right: -10px;
      }
    }
  
  .Code & {
    font-size: .85em;
    padding: .5em 2em;
  }
}

/* TOTAL AND CHECKOUT  */
.subtotal {
float: right;
width: 45%;

  .totalRow {
    padding: .5em;
   text-align: right;
   list-style: none; /*removes the dot from the list*/
  
    &.final {
      font-size: 1.25em;
      font-weight: bold;
    }
    span {
      display: inline-block;
      padding: 0 0 0 1em;
      text-align: right;
     
    }
    .label {
      font-size: .85em;
      text-transform: uppercase;
      color: #777;
      
    }
    .value {
      letter-spacing: -.025em;
      width: 35%;
    }
  }
}

@media only screen and (max-width:39.375em){

.wrap {
  width: 98%;
  padding: 2% 0;
}
.heading {
  padding: 1em;
  font-size: 90%;
}
.cart {
  .items {

  .cartSection {
    width: 90%;
      display: block;float: left;
     &.qtyWrap {
       width: 10%;
      text-align: center;
       padding: .5em 0;
       float: right;
       &:before {
         content: "QTY";
         display: block;
         padding: .25em;
         font-size: .75em;
       }
     }
     &.prodTotal , &.removeWrap { 
       display: none;
     }
    .itemImg {
      width: 25%;
    }
  }
  }}

.Code , .subtotal{
  width: 150%;
}

  a.btn.continue {
width: 100%;
text-align: center;
}
}
 