/*Font from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* { 
    box-sizing:border-box;
}
body {
  font-family: 'Electrolize';
  background-color: var(--body-color); 
  transition: var(--tran-05);
}

/***********/
/*scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 15px;
}
/* Track - the back of the scroll handle*/
::-webkit-scrollbar-track {
  background-color: rgb(45, 45, 45);
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  /*gradient colour of the scroll*/
  background: linear-gradient(#7347b5,#4a62a6);
  border-radius: 10px;
}


/******************/
/*navigational bar*/
* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}        

:root {
  --body-color: #f9f9f9;
  --sidebar-color: rgb(160, 130, 206);
  --primary-color: rgb(143, 80, 237); 
  --primary-color-light: rgb(255, 255, 255,0.5);
  --toggle-color: #DDD;
  --text-color: #fbfbfb;
  --dark-color: #000;
  
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}
     
::selection{
  background-color: var(--primary-color);
  color: #fff;
}
  
body.dark{
  --body-color: #1b1c1f;
  --sidebar-color: rgb(83, 98, 155);
  --primary-color: #a7bacb;
  --primary-color-light: rgba(255, 255, 255, 0.5);
  --toggle-color: #fff;
  --text-color: #ffffff;
  --dark-color: #fff;
}


.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}
  
.sidebar.close{
  width: 88px;
}
  
.sidebar li{
  height: 50px; 
  list-style: none; 
  display: flex;
  align-items: center; 
  margin-top: 10px;
}
  
.sidebar header .image, .sidebar .icon{
  min-width: 60px; 
  border-radius: 6px;
}
  
.sidebar .icon{ min-width: 60px; 
  border-radius: 6px; 
  height: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  font-size: 20px;
}
 
.sidebar .text, .sidebar .icon{
  color: black; 
  transition: var(--tran-03);
}

.sidebar .text:hover, .sidebar .icon:hover{
  color:#4E2A84; 
  transition: var(--tran-03);
}

.sidebar .text{
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
  
.sidebar.close .text{
  opacity: 0;
}
  
.sidebar header{
  position: relative;
}
  
.sidebar header .image-text{
  display: flex;
  align-items: center;
}
  
.sidebar header .logo-text{ 
  display: flex;
  flex-direction:column;
}
  
.sidebar header .image-text .greet {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}
  
.sidebar header .image-text .name{
  font-size: 16px;
  margin-top: -2px; 
  display: block;
}
  
.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}
  
.sidebar header .toggle{ 
  position: absolute; 
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var (--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}
  
body.dark .sidebar header .toggle{
  color: var (--text-color);
}
  
.sidebar.close .toggle{
  transform: translateY(-50%) rotate(0deg);
}
  
.sidebar .menu{
  margin-top: 40px;
}
  
.sidebar li.search-box{
  border-radius: 6px;
  background-color: var (--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}
  
.sidebar li.search-box input{
  height: 100%; width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
  padding-left: 5%;
}
  
.sidebar li a{
  list-style: none; 
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}
  
.sidebar .menu-bar{
  height: calc(100% - 5px);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar{
  display: none; 
}
  
.sidebar .menu-bar .mode{
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}

.mode .sun-moon i{
  position: absolute; 
}
  
.mode .sun-moon i.sun{
  opacity: 0;
}
  
body.dark .mode .sun-moon i.sun{
  opacity: 1; 
}
  
body.dark .mode .sun-moon i.moon{ 
  opacity: 0;
}
  
.menu-bar .bottom .toggle-switch{ 
  position: absolute; 
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer; 
}
  
.toggle-switch .switch{
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}
  
.switch::before{ content: '';
  position: absolute; 
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color); 
  transition: var(--tran-04);
}

/******************/
/*the title*/
.top {
  position: static;
  height: auto;
  font-weight: bold;
  font-size: 53px;
  text-align: center;
  margin: auto;
  animation: glow 1.5s ease-in-out infinite alternate;
  background-color: transparent;
}

@keyframes glow {
    from {
        text-shadow: 0 0 12px #6985c7, 0 0 14px #1a3b94, 0 0 16px #0a2366;
      }
      
      to {
        text-shadow: 0 0 14px #6985c7, 0 0 17px #1a3b94, 0 0 20px #0a2366 0 0 26px #040b30;
      }
}

.top a {
  text-decoration: none;
  color: #000;
}

body.dark .top a {
  color: white;
}

/******************/
/*navigational bar*/
* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}        

:root {
  --body-color: #f9f9f9;
  --sidebar-color: rgb(160, 130, 206);
  --primary-color: rgb(143, 80, 237); 
  --primary-color-light: rgb(255, 255, 255,0.5);
  --toggle-color: #DDD;
  --text-color: #fbfbfb;
  --dark-color: #000;
  
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}
     
::selection{
  background-color: var(--primary-color);
  color: #fff;
}
  
body.dark{
  --body-color: #1b1c1f;
  --sidebar-color: rgb(83, 98, 155);
  --primary-color: #a7bacb;
  --primary-color-light: rgba(255, 255, 255, 0.5);
  --toggle-color: #fff;
  --text-color: #ffffff;
  --dark-color: #fff;
}


.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}
  
.sidebar.close{
  width: 88px;
}
  
.sidebar li{
  height: 50px; 
  list-style: none; 
  display: flex;
  align-items: center; 
  margin-top: 10px;
}
  
.sidebar header .image, .sidebar .icon{
  min-width: 60px; 
  border-radius: 6px;
}
  
.sidebar .icon{ min-width: 60px; 
  border-radius: 6px; 
  height: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  font-size: 20px;
}
 
.sidebar .text, .sidebar .icon{
  color: black; 
  transition: var(--tran-03);
}

.sidebar .text:hover, .sidebar .icon:hover{
  color:#4E2A84; 
  transition: var(--tran-03);
}

.sidebar .text{
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
  
.sidebar.close .text{
  opacity: 0;
}
  
.sidebar header{
  position: relative;
}
  
.sidebar header .image-text{
  display: flex;
  align-items: center;
}
  
.sidebar header .logo-text{ 
  display: flex;
  flex-direction:column;
}
  
.sidebar header .image-text .greet {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}
  
.sidebar header .image-text .name{
  font-size: 16px;
  margin-top: -2px; 
  display: block;
}
  
.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}
  
.sidebar header .toggle{ 
  position: absolute; 
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var (--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}
  
body.dark .sidebar header .toggle{
  color: var (--text-color);
}
  
.sidebar.close .toggle{
  transform: translateY(-50%) rotate(0deg);
}
  
.sidebar .menu{
  margin-top: 40px;
}
  
.sidebar li.search-box{
  border-radius: 6px;
  background-color: var (--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}
  
.sidebar li.search-box input{
  height: 100%; width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
  padding-left: 5%;
}
  
.sidebar li a{
  list-style: none; 
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}
  
.sidebar .menu-bar{
  height: calc(100% - 5px);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar{
  display: none; 
}
  
.sidebar .menu-bar .mode{
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}

.mode .sun-moon i{
  position: absolute; 
}
  
.mode .sun-moon i.sun{
  opacity: 0;
}
  
body.dark .mode .sun-moon i.sun{
  opacity: 1; 
}
  
body.dark .mode .sun-moon i.moon{ 
  opacity: 0;
}
  
.menu-bar .bottom .toggle-switch{ 
  position: absolute; 
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer; 
}
  
.toggle-switch .switch{
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}
  
.switch::before{ content: '';
  position: absolute; 
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color); 
  transition: var(--tran-04);
}

/********************/
/*cart*/
.wrap::before{
  /*the size of the content*/
  width: 500px;
  height:500px;
  content: '';
  /*the bg colour seen at the back of the images*/
  background-image: linear-gradient(70deg, #DC422A, blue);
  position: absolute;
  z-index: -1;
  border-radius: 20% 30% 80% 10%;
  filter: blur(150px); /*blurs out the colour*/
  top: 50%;
  left: 50%;
  /*positioning the gradient*/
  transform: translate(-10%, -50%);
}

 img {
   max-width:100%;
 }
.cf:before,.cf:after {
    content: " ";display: table;
}

.cf:after {
    clear: both;
}
.cf {
    zoom: 1;
}

.wrap {
  width: 75%;
  max-width: 960px;
  margin: 80px auto;
  margin-bottom: 5em;
  padding-bottom:16%;
}

/***/
/*the chart*/
/* my chart heading */
.heading {
  padding: 1em 0;
  border-bottom: 1px solid #D0D0D0;
  margin-top: 19%;
 
  h1 {
   font-size: 2em;
   float: left;
  }

  a.continue {
    &:link , &:visited {
      text-decoration: none;
      letter-spacing: -.015em;
      font-size: 1em;
      padding: 1em;
      font-weight: bold;
      border-radius: 50px;
      float: right;
      color: rgb(0, 0, 0);
      text-align: right;
    }

    &:after {
      content: "\276f";
      padding: .5em;
      position: relative;
      right:0;
      
      
      &:after {
        right: -10px;
      }
    }
  }
}

/* the items on the chart*/

.cart {
  padding: 1em 0 ;
 
  .items {
    display: block;
    width: 100%;
    padding: 1.5em;

    border-bottom: 1px solid #fafafa;
    &.even {
      background: #a88ae400;
    }
    .infoWrap {
      display: table;
      width: 100%;
    }
    .cartSection {
      display: table-cell;
      vertical-align: middle;
      
    .itemNumber {
      font-size: .75em;
      color: #777;
      margin-bottom: .5em;
}
      
h3 {   
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .025em;        
}

p {
    display: inline-block;
    font-size: .85em;
    color: #ffffff;
        .quantity {
            font-weight: bold;
            color: #333;
        }
        
        &.stockStatus {
            color: #82CA9C;
            font-weight: bold;
            padding: .5em 0 0 1em;
            text-transform: uppercase;
            &.out {
                color: #F69679;
            }
        }
}

.itemImg {
    width: 4em; 
    float: left;      
}

&.qtyWrap , &.prodTotal {
    text-align: center;
    p {
      font-weight: bold;
      font-size: 1.25em;
    }
}
      
    input.qty {
        width: 2em;
        text-align: center;
        font-size: 1em;
          padding: .25em;
      margin: 1em .5em 0 0;
        
      }
      .itemImg {
        width: 8em;
        display: inline;
        padding-right: 1em;
      }
       
 
    }
  }
  
}   
 
 .special {
   display: block;
  .specialContent {
   padding: 1em 1em 0;
    display: block; 
   margin-top:.5em;
   border-top: 1px solid #dadada;
   &:before {
     content: "\21b3";
     font-size: 1.5em;
      margin-right: 1em;
     color: #6f6f6f;
     font-family: helvetica, arial, sans-serif;
   }}
 
 }

a.remove {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  background: #9d199b;
  padding: .5em;
  font-size: .75em;
  display: inline-block;
  border-radius: 100%;
  line-height: .85;
  &:hover {
    background-color: rgba(253, 253, 253, 0);
    color: #4E2A84;
  }
}

.Code {
  border:2px solid #efefef;
  float: left;
  width: 35%;
  padding: 2%;
  label {
    display: block;
    width: 100%;
 font-style: italic;
    font-size: 1.15em;
 
    margin-bottom: .5em;
    letter-spacing: -.025em;
    
  }
  input {
    width: 85%;
    font-size: 1em;
    padding: .5em;
    float: left;
    border: 1px solid #dadada;
    &:active, &:focus {
      outline: 0;
     
    }
  }
  a.btn {
    float: left;
    width: 15%;
    padding: .75em 0;
    border-radius: 0 1em 1em 0;
    text-align: center;
    border: 1px solid #82ca9c;
    &:hover {
       border: 1px solid #f69679;
       background: #4E2A84;
    }
  }
}

.btn {
     &:link , &:visited {
      text-decoration: none;
      letter-spacing: -.015em;
      font-size: 1em;
      padding: 1em 3em;
      color: #000000;
      background: #ffffff;
      font-weight: bold;
      border-radius: 50px;
    float: right;
      text-align: right;
    }
      &:after {
      content: "\276f";
      padding: .5em;
      position: relative;
      right:0;
      
    }
    &:hover , &:focus, &:active {
      background: #4E2A84;
        &:after {
        right: -10px;
      }
    }
  
  .Code & {
    font-size: .85em;
    padding: .5em 2em;
  }
}

/* TOTAL AND CHECKOUT  */
.subtotal {
float: right;
width: 45%;

  .totalRow {
    padding: .5em;
   text-align: right;
   list-style: none; /*removes the dot from the list*/
  
    &.final {
      font-size: 1.25em;
      font-weight: bold;
    }
    span {
      display: inline-block;
      padding: 0 0 0 1em;
      text-align: right;
     
    }
    .label {
      font-size: .85em;
      text-transform: uppercase;
      color: #777;
      
    }
    .value {
      letter-spacing: -.025em;
      width: 35%;
    }
  }
}

@media only screen and (max-width:39.375em){

.wrap {
  width: 98%;
  padding: 2% 0;
}
.heading {
  padding: 1em;
  font-size: 90%;
}
.cart {
  .items {

  .cartSection {
    width: 90%;
      display: block;float: left;
     &.qtyWrap {
       width: 10%;
      text-align: center;
       padding: .5em 0;
       float: right;
       &:before {
         content: "QTY";
         display: block;
         padding: .25em;
         font-size: .75em;
       }
     }
     &.prodTotal , &.removeWrap { 
       display: none;
     }
    .itemImg {
      width: 25%;
    }
  }
  }}

.Code , .subtotal{
  width: 150%;
}

  a.btn.continue {
width: 100%;
text-align: center;
}
}
 