/*Font from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/*the content of the website*/
body {
    font-family: "Electrolize";
    margin: 0;
    background-color: #000;
    color: #fff;
    height: fit-content;
}

/*the title*/
header {
    position: relative;
    height: auto;
    font-weight: bold;
    font-size: 53px;
    text-align: center;
    margin: auto;
    padding: 2px;
    background-color: black;
    animation: glow 2s ease-in-out infinite alternate;
}

header a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

@keyframes glow {
    from {
        text-shadow: 0 0 12px #6985c7, 0 0 14px #1a3b94, 0 0 16px #0a2366;
      }
      
      to {
        text-shadow: 0 0 12px #6985c7, 0 0 15px #1a3b94, 0 0 18px #0a2366 0 0 24px #040b30;
      }
}

@media screen and (max-width: 991px){
  /* ipad, tablets */

}

@media screen and (max-width: 767px){
  /* mobile */

}

/*navigational bar*/
.screen-menu {
  background-color: #4E2A84; /*bg colour of the nav bar*/
  height: 100vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-size: 3rem;
  transition: .3s ease;
  padding-left: 5%;
  z-index: 1;
}

.screen-menu li {
  list-style: none; /*removes the bulletin form for the list*/
  color: #ffffff; /*text colour of the list*/
}

.screen-menu a {
  text-decoration: none; /*removes the underline from the anchor text*/
}

.screen-menu.active {
  right: 0; /*position to the very right of the screen*/
}

nav {
  padding: 1rem; 
  display: flex; /*aligns the property*/
}

.menu {
  /*size of the hamburger nav bar*/
  height: 50px;
  width: 50px;
  margin-left: auto;
  position: relative;
}

.menu span {
  height: 5px; /*thickness of the menu bar*/
  width: 100%;
  background-color: #fbfbfb;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  /*positioning the humburger menu to the top right*/
  transform: translate(-50%,-1550%);
  transition: .3s ease;
  z-index: 1;
}

.menu.active span:nth-child(2) {
  opacity: 0;
}

.menu span:nth-child(1) { /*the top/first bar of hamburger menu*/
  top: 25%;
}

.menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%,-1550%) rotate(45deg);
}

.menu span:nth-child(3) { /*the last/bottom bar of hamburger menu*/
  top: 75%;
}

.menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%,-1550%) rotate(-45deg); 
}

/**********************************/
/*search bar*/
.wrapper {
  width: 80%;
  align-items: center;
  margin-left:15%; 
}

#search-container {
  margin: 1em 0;
}
#search-container input {
  background-color: transparent;
  width: 80%;
  border-bottom: 2px solid #110f29;
  padding: 1em 0.3em;
}

/*customizing the button of the search bar*/
#search-container button {
  padding: 1em 2em;
  margin-left: 1em;
  background-color: #4E2A84;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 0.5em;
}

@media screen and (max-width: 720px) {

}

/**********************************/
/*shopping gallery*/

h1 {
  text-align: left;
  margin-top:5% ;
  margin-left: 4%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  color: white;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery .item {
  border:1px solid rgb(147, 189, 210,0.3);
  border-radius: 5px;
  padding: 10px;
  width: 320px;
}

.item img {
  margin-top: 6%;
  width: 90%;
  border-radius: 5px;
}

.info {
  margin-top: 5%;
  text-align: center;
}

.info p {
  background: #4E2A84;
  width: 50%;
  margin-left: 25% ;
}

.info p:hover {
  outline: white 1px solid;
  color: #4E2A84;
  font-weight: bold;
  background: white;
  cursor: pointer;
}

.gallery .item button {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}


/*******************/
/*footer of the website*/
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.footer{
	max-width: 1170px;
	margin-left:20%;
    padding: 70px 0;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.col{
   width: 25%;
   padding: 0 15px;
}
.col h4{
	font-size: 18px; /*size of the font*/
	color: #ffffff;
	text-transform: capitalize; /*automatically caps the first letter*/
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #4E2A84;
	height: 2px;
	box-sizing: border-box;
	width: 50px; /*the line under the h4*/
}
.col ul li:not(:last-child){
	margin-bottom: 10px;
}
.col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
    background-color: #4E2A84;
}
.col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.col .social-links a:hover{
	color: #ffffff;
	background-color: #4E2A84;
}

.bot{
    padding: 20px;
    text-align: center;
}
.bot p{
    color: white;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}